* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.header {
  height: 13vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 8vw 0 8vw;
  align-items: center;
}
.btns-1 {
  display: flex;
  gap: 2em;
}
.btns-1 a {
  text-decoration: none;
  color: gray;
  font-size: 1.1vw;
  border: transparent;
  background-color: white;
  margin-top: 1.5vw;
}
.btns-1 a:hover {
  color: #0f52ba;
}
.buttons {
  display: flex;
}
.btn a {
  background: #0f52ba;
  color: white;
  text-decoration: none;
  border-radius: 2em;
  padding: 0.5vw 0.75vw;
  font-size: 1.2vw;
  margin-left: -1vw;
}
.dropdown button {
  background-color: transparent;
  color: gray;
  border: none;
}
.dropdown button:hover {
  color: #0f52ba;
  background: white;
}
.dropdown li {
  margin-bottom: -2vw;
  margin-top: 0;
}
.dropdown-2 button {
  background: #f6f6f6;
  color: #0f52ba;
  border: none;
  border-radius: 2em;
  width: 7.5vw;
  margin: 1.25vw;
}
.dropdown-2:hover {
  color: #007bff;
}
.dropdown-2 li {
  text-decoration: none;
  border: none;
  background-color: white;
}
.dropdown-2 a {
  color: grey;
}
.dropdown-2 li :hover {
  background-color: #0f52ba;
  color: white;
}
.box-34 {
  background-color: #0f52ba;
  color: #fff;
  height: 39vh;
  margin: 0;
  overflow: hidden;
}
.box-34 h1 {
  padding: 15vh;
  padding-left: 5vw;
}
.div-title {
  font-weight: 800;
  font-size: 2.75em;
}
.services {
  height: 85vh;
  width: 80vw;
  margin-left: 7vw;
  background: #f6f6f6;
  margin-top: -1vw;
}
.col a {
  text-decoration: none;
  font-size: 1.5vw;
  color: black;
  line-height: 1.2em;
}
.col-serv a {
  text-decoration: none;
  font-size: 1.3vw;
  color: black;
  line-height: 1.2em;
}
.col-serv {
  margin-left: 12vw;
  margin-right: -11vw;
}
.cleaning {
  height: 87vh;
  width: 80vw;
  margin-left: 7vw;
  background: #f6f6f6;
  margin-top: -3vw;
}
.col a {
  text-decoration: none;
  font-size: 1.5vw;
  color: black;
  line-height: 1.2em;
}
.personal-care {
  height: 85vh;
  width: 80vw;
  margin-left: 7vw;
  background: #f6f6f6;
  margin-top: -3vw;
}
.col-per a {
  text-decoration: none;
  font-size: 1.3vw;
  color: black;
  line-height: 1.2em;
}
.col-per {
  margin-left: 12vw;
  margin-right: -11vw;
}
.col a {
  text-decoration: none;
  font-size: 1.3vw;
  color: black;
  line-height: 1.2em;
}
.col a :hover {
  color: #0f52ba;
}
.para h2 {
  font-size: 2.5vw;
  font-weight: 900;
}
.para {
  margin-left: 9vw;
  margin-right: 6vw;
}
.para p {
  font-size: 1.25vw;
}
.para h3 {
  font-size: 2.25vw;
  font-weight: 700;
}
.para span {
  color: #0f52ba;
}
.area {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: -20.5vw;
}
.area h2 {
  font-size: 2.5vw;
  margin-left: 7vw;
}
.area input {
  margin-right: -14vw;
  width: 17vw;
  border: 1px solid #f9f8f8;
  background-color: #f9f8f8;
  padding: 1vw;
  border-radius: 9em;
  font-size: 1.5vw;
  text-align: center;
  font-size: 1.25em;
}
.input :hover {
  border: 1px solid black;
}
.city-area a {
  text-decoration: none;
  color: black;
  display: block;
  height: 60px;
  width: 65px;
  border: 1px solid rgba(128, 128, 128, 0.193);
  border-radius: 15px;
  text-align: center;
}
.city-area :hover {
  color: #0f52ba;
}
.city-area {
  display: flex;
  flex-wrap: wrap;
  height: 45vh;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 8rem 3rem 8rem;
  gap: 32.5px;
  font-size: 1em;
  line-height: 3.5em;
  row-gap: 0.75em;
}
.container-footer {
  font-size: 0.95em;
}
.serv {
  line-height: 2em;
}
.footer-col a {
  margin-left: -2em;
}
.footer {
  background-color: #0f52ba;
  color: white;
  padding: 2em;
  line-height: 2em;
  height: 70vh;
  width: 100%;
}
.footer li {
  list-style: none;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer input {
  padding: 0.5vw;
  border-radius: 10px;
  border: 1px solid white;
  width: 18vw;
}
.social-links i {
  margin-left: 2em;
  background: white;
  border-radius: 5px;
  color: #0f52ba;
  padding: 0.3vw;
  margin-right: 0.5vw;
}
.bottom-aaps {
  display: flex;
  gap: 2em;
  margin-left: 2vw;
}
.footer-copyrights {
  height: 5vh;
  justify-content: space-between;
  /* width: 100%; */
}
