*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.header{
    background-color: black;
    height: 7vh;
  width: 100%;
  display: flex;
  padding: 1.15vw;
  flex-direction: row-reverse;
}
.box{
    background-color: black;
}
.main{
    background-color: white;
    border: 2px solid white;
    height: 690px;
    width: 100%;
border-radius: 30px;
}
.sec{
    margin-top: 10vw;
}
.sec h2{
    font-size: 2.25em;
    margin-bottom: 0vw;
}
p{
    margin-top: 1vw;
}
input{
    margin-top: 1vw;
text-align: center;
width: 30vw;
height: 9vh;
border: 1px solid #F9F8F8;
background-color: #F9F8F8;
border-radius: 30px;
font-size: 1.3em;
padding-right: 0.5vw;
margin-bottom: 1vw;
}
button{
    color: white;
    background-color: black;
    height: 6vh;
    width: 14vw;
    border: 1px solid black;
    border-radius: 10px;
    font-size:1.4em ;
    margin-top: 1vw;
    margin-bottom: 3vw
}
span a{
    text-decoration: none;
    color: #0f52ba;
}
span{
    font-size: 1.1em;
}